---
import { MarkdownInstance } from "astro";
import { Project } from "../../../types";
import PortfolioPreview from "../../molecules/PortfolioPreview.astro";
const allProjects: MarkdownInstance<Project>[] = await Astro.glob("../../../pages/project/**/*.md");
---
<section class="projects-grid">
    {
      allProjects.map((project) => (
      <PortfolioPreview project={project}/>
      ))
    }
  </section>
  <style>
    .projects-grid {
      @apply grid gap-5 gap-y-10;
      @apply sm:grid-cols-2;
      @apply md:grid-cols-3;
    }
  </style>