/* Global variables */

body {
	@apply text-teal-dark;
	@apply bg-white;
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
	max-width: 1024px;
	position: relative;
	min-height: 100vh;
	background-image: url("/assets/images/background.svg");
  }

  .dark body {
	@apply bg-indigo-900 text-white;
  }
  
  .dark .nav-links a {
	@apply text-white;
  }
  
  * {
	@apply box-border;
  }
  
  img {
	@apply max-w-full;
	height: auto;
  }
  
  h1 {
	@apply text-3xl;
  }
  
  h2 {
	@apply text-2xl font-bold;
  }
  
  h3 {
	@apply text-xl font-semibold mb-1;
  }
  
  .button {
	@apply inline-block font-bold uppercase border-[3px] py-2 px-4;
  }
  
  .wrapper {
	@apply max-w-5xl mx-auto px-8;
  }