/* Global variables */

body {
	@apply text-teal-dark;
	margin: 0 auto;
	font-family: 'Khula', sans-serif;
	max-width: 1024px;
	position: relative;
    min-height: 100vh;
}

.dark body {
	background-color: #0d0950;
	color: #fff;
}

.dark .nav-links a {
	color: #fff;
}

* {
	box-sizing: content-box;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--t-active);
}

h1 {
	font-size: var(--f-u8);
}

h3 {
	@apply text-lg font-semibold;
}

.button {
	display: inline-block;
	border: 3px solid currentColor;
	padding: 0.5em 1em;
	font-weight: 700;
	text-transform: uppercase;
}

.wrapper {
	max-width: 80em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}