.md h1 {
    font-size: 40px;
    line-height: 1.5;
}

.md h2 {
    font-size: 28px;
    line-height: 2;
    margin-top: 15px;
}

.md h1+hr,
h2+hr {
    border: #efefef solid;
    border-width: 0 0 1px;
    margin-bottom: 10px;
}

.md h3 {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0 5px;
    line-break: auto;
}

.md h3 img {
    width: 25px;
    height: 25px;
    margin: 0 10px 5px 0;
    display: inline;
}

.md img {
    margin: 20px auto;
}

.md li {
    list-style: circle;
    margin-left: 20px;
}

.md ul,
p {
    margin: 16px 0 0;
}

.md code {
    background: rgb(242, 242, 242) !important;
    color: rgba(41, 41, 41, 1) !important;
    font-size: inherit;
    font-weight: initial;
    padding: 0 5px;
    border-radius: 5px;
    font-family: monospace, source-code-pro, Menlo, Monaco, "Courier New", Courier;
}

.md .gist {
    margin-top: 28px;
    margin-bottom: 14px;
}

.md pre {
    background: rgb(242, 242, 242) !important;
    margin-top: 28px;
    margin-bottom: 14px;
    padding: 20px;
}

.md li img {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
    display: inline;
    padding-bottom: 5px;
}

.md a {
    line-break: anywhere;
}

.md img[title="avatar"] {
    border-radius: 50%;
    width: 80px;
    float: left;
    margin: 0 10px 0 0;
}

.md .line span {
    color: rgba(41, 41, 41, 1) !important;
}

.md a {
    text-decoration: underline;
}

.md a::after {
    content: "🔗";
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    margin-left: 0.2rem;
    font-size: 60%;
    vertical-align: top;
}

.md a:hover::after {
    opacity: 1;
}

.md a:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.md table {
    line-height: 1.5;
    background-color: #fff;
    overflow: auto;
}

.md table th {
    font-weight: 600;
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.md table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.md tr:nth-child(even) {
    background-color: #f6f9fa;
}

/* styles for odd rows */
.md tr:nth-child(odd) {
    background-color: #fff;
}