---
import Footer from "../components/atoms/Footer.astro";
import Navigation from "../components/molecules/Navigation.astro";
import MainHead from "../core/MainHead.astro";
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
		<style>
			.wrapper {
				margin-top: 2em;
				margin-bottom: 2em;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<div class="wrapper">
			<h1>Page Not Found</h1>
			<p>Not found</p>
		</div>
		<Footer />
	</body>
</html>
