---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostPreview from "../components/PostPreview.astro";
import PostsGrid from "../components/PostsGrid.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
import { MarkdownInstance } from "astro";
import { Post } from "../types";
const allPosts: MarkdownInstance<Post>[] = await Astro.glob(
	"../pages/posts/*.md"
);
const latestPost = allPosts.sort((a, b) => {
	return (
		new Date(b.frontmatter.pubDate).getTime() -
		new Date(a.frontmatter.pubDate).getTime()
	);
})[0];
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<section class="mixed-title">
		<div class="feature text-teal">analyze</div>
		<div class="feature text-yellow">design</div>
		<div class="feature text-purple">develop & build</div>
		<div class="feature text-red">launch</div>
		<div class="feature">test & learn</div>
	</section>
	<h2>I'm José A Full Stack Web Developer,</h2>
	<h3>
		with a strong background in front-end and collaboration with agile
		teams.
	</h3>
	<div class="my-10">
		<PostPreview header="latest post" post={latestPost} type="title" />
	</div>
	<ProjectsGrid />
	<div class="posts-container"></div>
	<PostsGrid />
</BaseLayout>

<style>
	.posts-container {
		@apply mt-4;
	}
	.feature {
		@apply text-5xl leading-[28px] font-extrabold text-center tracking-[-6px] uppercase mix-blend-multiply;
		@apply md:text-8xl md:leading-[52px] md:font-extrabold md:text-center md:tracking-[-12px] md:uppercase md:mix-blend-multiply;
	}
	.mixed-title {
		@apply mt-14 mb-7;
	}
	h2,
	h3 {
		@apply text-right;
	}
</style>
