---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<p class="desc">Lover of dogs, roadtrips, and poetry.</p>
</BaseLayout>
