---
import BaseLayout from "../layouts/BaseLayout.astro";
import { MarkdownInstance } from "astro";
import { Post } from "../types";
import PostPreview from "../components/molecules/PostPreview.astro";
import ProjectsGrid from "../components/domain/portafolio/ProjectsGrid.astro";
import PostsGrid from "../components/domain/blog/PostsGrid.astro";
const allPosts: MarkdownInstance<Post>[] = await Astro.glob("./posts/*.md");
const latestPost = allPosts.sort((a, b) => {
	return (
		new Date(b.frontmatter.pubDate).getTime() -
		new Date(a.frontmatter.pubDate).getTime()
	);
})[0];
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="h-10 md:h-20 section-separator"></div>
	<section class="mixed-title">
		<div class="feature text-orange">test</div>
		<div class="feature text-green">learn</div>
		<div class="feature">develop</div>
	</section>
	<a class="cursor-pointer" href="/about">
		<img src="/assets/images/me.jpeg" class="avatar" />
		<div>
			<h2>I'm José A Full Stack Web Developer,</h2>
			<h3>
				with a strong background in front-end and collaboration with
				agile teams.
			</h3>
		</div>
	</a>
	<div class="mt-10 mb-7 md:mb-14 w-60 mx-auto sm:w-80">
		<PostPreview header="latest post" post={latestPost} type="title" />
	</div>
	<ProjectsGrid />
	<div class="my-10 h-7 section-separator"></div>
	<PostsGrid />
	<div class="mt-10 h-7 section-separator"></div>
</BaseLayout>

<style>
	.feature {
		@apply text-5xl leading-[28px] font-extrabold text-center tracking-[-6px] uppercase mix-blend-multiply;
		@apply md:text-8xl md:leading-[60px] md:font-extrabold md:text-center md:tracking-[-12px] md:uppercase md:mix-blend-multiply;
	}
	.mixed-title {
		@apply mt-8 mb-7 md:mt-14;
	}
	h2,
	h3 {
		@apply text-center;
	}
	.section-separator {
		@apply w-[2px] bg-teal-dark mx-auto;
	}
	.avatar {
		margin: auto;
		margin-bottom: 10px;
		width: 80px;
		border-radius: 50%;
	}
</style>
