---
const { title } = Astro.props;
const { date } = Astro.props;
const { imgUrl } = Astro.props;
---
<article class="blog-preview">
    <div class="blog-img">
      {imgUrl && <img src={imgUrl} alt="cover" />}
    </div>
    <div class="blog-content">
      <h3 class="blog-title">
        {title}
      </h3>
      <p class="blog-description">
        <slot />
      </p>
    </div>
    <div class="blog-date">
      {date} <span class="material-symbols-rounded text-lg text-purple"> event</span>
    </div>
  </article>

  <style>
    .blog-preview {
      @apply box-border w-full text-right;
    }
    .blog-img {
      @apply box-border w-full h-32 bg-teal-dark rounded-2xl rounded-bl-none;
    }
    .blog-content {
      @apply mt-3 mb-1 pr-2 border-r-4 border-teal;
    }
    .blog-title {
      @apply pt-1;
    }
    .blog-description {
      @apply py-1;
    }
    .blog-date {
      @apply flex justify-end items-end gap-2 text-sm text-gray uppercase;
    }
  </style>