---
const { pageTitle } = Astro.props;
---
<header>
    <div class="title">{pageTitle.toUpperCase()}</div>
    <div class="vertical-line"></div>
</header>
<style>
    header {
        @apply py-5;
        @apply sm:py-10;
    }
    .title {
        @apply text-teal-dark text-center font-extrabold text-5xl;
        @apply sm:text-8xl;
    }
    .vertical-line {
        @apply w-0.5 h-4 bg-teal-dark mx-auto;
        @apply sm:h-8;
    }
</style>
