---
import Hamburger from "./Hamburger.astro";
import Socials from "./Socials.astro";
---

<nav>
    <a class="link" href="/">
        <span class="material-symbols-rounded align-middle">home</span>
    </a>
    <div class="nav-links">
        <a href="/blog/">blog</a>
        <a href="/about/">about</a>
        <a href="/projects/">portfolio</a>
        <a href="/tags/">tags</a>
        <div class="socials"><Socials /></div>
    </div>
    <Hamburger />
</nav>
<style>
    nav {
        @apply flex items-center m-4 gap-4 text-teal-dark;
        @apply sm:m-8;
    }

    nav > .link {
        @apply rounded-full text-white bg-teal-dark p-1;
    }

    nav > .link:hover {
        @apply bg-black;
    }

    .socials {
        @apply mt-2;
        @apply sm:ml-auto sm:mt-0;
    }

    .nav-links {
        @apply hidden m-0;
        @apply sm:flex sm:flex-row sm:items-center sm:w-full sm:bg-none;
    }

    .nav-links a {
        @apply px-2 pt-1 font-bold;
    }

    .nav-links a:hover,
    a:focus {
        @apply bg-teal rounded;
    }

    .expanded {
        @apply flex flex-col items-center w-full;
    }
</style>
