---
import Hamburger from "./Hamburger.astro";
import Socials from "./Socials.astro";
---

<nav>
    <a class="link" href="/">
        <div class="monogram">JA</div>
    </a>
    <div class="nav-links">
        <a class="link" href="/projects/"> Portfolio</a>
        <a class="link" href="/about/"> About</a>
        <a class="link" href="/blog/"> Blog</a>
        <a class="link" href="/tags/"> Tags</a>
    </div>
    <div class="socials"><Socials /></div>
    <Hamburger />
</nav>
<style>
    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
    }

    .link {
        color: var(--t-subdue);
        display: block;
        text-decoration: none;
        font-size: var(--f-d1);
        text-transform: uppercase;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .link:hover,
    .link:focus {
        color: var(--t-active);
    }

    .monogram {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        margin-right: 0.5rem;
        color: var(--c-black);
        font-weight: 900;
        letter-spacing: -0.125rem;
        border: 3px solid currentColor;
        border-radius: 50%;
    }

    .socials {
        margin-left: auto;
    }

    /* nav styles */

    .nav-links {
        width: 100%;
        top: 5rem;
        left: 48px;
        background-color: #ff9776;
        display: none;
        margin: 0;
    }

    .nav-links a {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav-links a:hover,
    a:focus {
        background-color: #ff9776;
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 636px) {
        .nav-links {
            margin-left: 5em;
            display: block;
            position: static;
            width: auto;
            background: none;
        }

        .nav-links a {
            display: inline-block;
            padding: 15px 20px;
        }
    }
</style>
