---
import { MarkdownInstance } from "astro";
import PostPreview from "../components/PostPreview.astro";
import { Post } from "../types";
const allPosts: MarkdownInstance<Post>[] = await Astro.glob("../pages/posts/*.md");
---
<section class="posts-grid">
    {
      allPosts.map((post) => (
          <PostPreview post={post}>
            {post.frontmatter.description}
          </PostPreview>
      ))
    }
  </section>
  <style>
    .posts-grid {
      @apply grid gap-5 gap-y-10;
      @apply sm:grid-cols-2;
      @apply md:grid-cols-3;
    }
  </style>