---
---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<style>
  .hamburger {
    @apply block cursor-pointer ml-auto;
    @apply sm:hidden;
  }

  .hamburger .line {
    @apply block w-8 h-1 mb-2 bg-teal-dark last-of-type:mb-0;
  }
</style>
