---
// Component Imports
import Footer from "../components/atoms/Footer.astro";
import Navigation from "../components/molecules/Navigation.astro";
import MainHead from "../core/MainHead.astro";
import type { Project } from "../types";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob<Project>("../pages/project/**/*.md");
const featuredProject = projects[0]!;

// CSS vars
const margin = "2em";

// Astro props
const { pageTitle } = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="José Albarado | Personal Site"
			description="José Albarado: Developer, Speaker, and Writer..."
		/>
		<style define:vars={{ margin }}>
			.wrapper {
				margin-top: var(--margin);
				padding-bottom: 2.5rem;
			}

			.grid {
				display: grid;
				grid-gap: 2rem;
			}

			@media (min-width: 1200px) {
				.grid {
					grid-template-columns: 2fr 1fr;
				}
			}

			.sectionTitle {
				font-weight: 700;
				font-size: var(--f-u8);
				margin-top: 4rem;
				margin-bottom: 2rem;
			}

			.bio {
				line-height: 2;
				margin-bottom: 2rem;
			}

			.bio > span:first-of-type {
				line-height: 1;
				margin-bottom: 0.5em;
				display: block;
				font-weight: 700;
				font-size: var(--f-u4);
			}

			.buttonContainer {
				text-align: center;
				margin-top: 2em;
			}
			.page-container {
				position: relative;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<main class="wrapper">
			<slot />
		</main>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
