---
// Component Imports

import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import Navigation from "../components/Navigation.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import { Project } from "../types";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob<Project>("../pages/project/**/*.md");
const featuredProject = projects[0]!;

// CSS vars
const margin = "2em";

// Astro props
const { pageTitle } = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="José Albarado | Personal Site"
			description="José Albarado: Developer, Speaker, and Writer..."
		/>
		<style define:vars={{ margin }}>
			.wrapper {
				margin-top: var(--margin);
				margin-bottom: 2em;
			}

			.grid {
				display: grid;
				grid-gap: 2rem;
			}

			@media (min-width: 1200px) {
				.grid {
					grid-template-columns: 2fr 1fr;
				}
			}

			.sectionTitle {
				font-weight: 700;
				font-size: var(--f-u8);
				margin-top: 4rem;
				margin-bottom: 2rem;
			}

			.bio {
				line-height: 2;
				margin-bottom: 2rem;
			}

			.bio > span:first-of-type {
				line-height: 1;
				margin-bottom: 0.5em;
				display: block;
				font-weight: 700;
				font-size: var(--f-u4);
			}

			.buttonContainer {
				text-align: center;
				margin-top: 2em;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<main class="wrapper">
			<slot />
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">Selected Work</h3>
					<PortfolioPreview project={featuredProject} />
					<div class="buttonContainer">
						<a href="/projects/" class="button">View All</a>
					</div>
				</div>
				<div class="section">
					<h3 class="sectionTitle">About me</h3>
					<p class="bio">
						<span>Hello!</span> I’m José, and this is my website. It
						was made using{" "}
						<a
							href="https://github.com/withastro/astro"
							target="_blank"
							rel="nofollow"
						>
							Astro</a
						>, a new way to build static sites. This is just an
						example template for you to modify.
					</p>
					<p>
						<a href="/about">Read more</a>
					</p>
				</div>
			</div>
		</main>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
